*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-image: url(image/girl-..jpg);
    background-repeat:no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signupcontainer{
    width: 50%;
    padding: 30px;
    background-image: url(image/girl-..jpg);
    border: radius 8px;
    box-shadow: 0 4px 8px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
    font-size: 24px;
    color: goldenrod;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group label {
    display: block;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 14px;
}
.input-group input:focus {
    border-color: #007BFF;
    outline: none;
}
.select {
    margin-bottom: 15px;
    text-align: left;
}
.select label {
    display: block;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 5px;
}
.select select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 14px;
}
.login-btn {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-btn:hover {
    background-color: black;
}
.dha{
    color: #ffffff;
}

p a {
   color: blue;
   text-decoration: none;
}

p a:hover {
   text-decoration: underline;
}